html {
    background-color: #336600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}

/* body {
    display: block;
    align-content: center;
} */

/* form {
} */

button {
    background-color: navy;
    border: 1px solid black;
    color: bisque;
    cursor: pointer;
    float: left;
    font-weight: bolder;
    padding: 15px;
    width: 150px;
    
}

#add {
    border-radius: 8px 0 0 8px;
}

#sub {
    border-radius: 0 8px 8px 0 ; 
}