html {
    background-color: #006633;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 8px;
    padding: 8px;
}

body {
    align-content: space-around;
    padding: inherit;
    margin: auto;
    max-width: 500px;
    min-height: 100%;
    text-align: center;
}

main.form {
    margin: inherit;
    padding: inherit;
    display: inline-flex;
    flex-direction: row;
    font-weight: bolder;
}

span#num1 {
    padding: 10px;
    margin: auto;
    font-size: larger;

}

span#num2 {
    padding: 10px;
    margin: auto;
    font-size: larger;
}

p {
    margin-right: 6px;
    padding: inherit;
}

select#operand {
    height: 50%;
    position: relative;
    top: 22px;
    color: white;
    background-color: navy;
    text-align: center;
}

#answer {
    width: 100px;
    height: 50%;
    position: relative;
    top: 22px;
    margin-right: 10px;
}

button {
    background-color: navy;
    border: 1px solid black;
    color: bisque;
    cursor: pointer;
    float: left;
    font-weight: bolder;
}

div.opChoice {
    display: inherit;
}

#check {

    margin: inherit;
    padding: 8px;
}

#message {
    font-weight: bolder;
}

header,
footer {
    position: absolute;
    max-width: inherit;
    padding: .5rem;
    width: 100%;
    font-weight: bolder;
    text-align: center;
}

header {
    top: 0;
    margin-top: 0;
    max-width: inherit;

}

footer {
    bottom: 0px;
    max-width: inherit;
    text-align: center;
    color: cyan;
    font-weight: bold;
    margin-bottom: 0;
    text-shadow: .5px 2px 0px black;
}