    html {
        background-color: #111;
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        flex-direction: column;
        color: aqua;
        margin: auto;
        padding: inherit;
        max-width: 600px;
        font-size: 1.5rem;
        height: auto;
    }

    main {
        position: relative;
        top: 50px;
        text-align: center;
        margin: auto;
        padding: inherit;
    }

    h1,h2 {
        margin: auto;
        padding: inherit;
    }

    h3 {
        display: flex;
        color: white;
    }

    hr {
        height: 2px;
        background-color: white;
    }

    header,
    footer {
        margin: auto;
        font-weight: bolder;
        text-align: center;
        padding: 8px;
    }
    
    header {
        top: 0;
        max-width: fit-content;
    }
    
    footer {
        position: relative;
        top: 310px;
        max-width: 600px;
        text-align: center;
        margin-bottom: 0;
        font-size: 1.1rem;
    }