
body, title{
    align-content: center;
    text-align: center;
    color: aqua;
    background: #111;
    text-indent: 10px;
    text-size-adjust: auto;
    font-family: sans-serif;
}

ul {
    display: inline-block;
    margin-left: 0px;
    padding-left: 0;
    font-size: 14pt;
    list-style: inside;
    text-align: left; 
}

img{
    align-content: center;
    margin: auto;
    width: 700px;
    height: auto;
    border-radius: 18px;
    border-style: ridge;
    border-color: aqua;
    box-shadow: 0 0 10px aqua;
}

.container {
    position: relative;
    text-align: center;
}



footer { 
    align-content: center;
    position: fixed;
    text-align: center;
    bottom: 1px;
    margin: 1px;
    padding: 1px;
    width: 100%;
    color: aqua;
    font-size: 9pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 8px aqua;
}
