body {
    text-align: center;
    color: aqua;
    background: #181818;
    text-indent: 10px;
    text-size-adjust: auto;
    font-family: sans-serif;
}

ul {
    list-style: inside;
    text-align: center;
}

img{
    margin: auto;
    width: 500px;
    height: auto;
    border-radius: 18px;
}

footer { 
    position: fixed;
    text-align: center;
    bottom: 1px;
    margin: 1px;
    padding: 1px;
    width: 100%;
    color: aqua;
    font-size: 9pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 8px black;
}
