html {
    background-color: #102e42;
    color: white;
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;

}

body {
    align-items: center;
    margin: 0 auto;
    max-width: inherit;
}


main {
    border-radius: 12px;
    box-shadow: 0 0 6px;
    font-weight: bold;
    max-width: inherit;
    padding: 1rem;
    margin: 25px;
    position: fixed;
    text-align: center;
    top: 215px;
    left: 390px;
}


header,
footer {
    position: fixed;
    max-width: inherit;
    padding: .5rem;
    width: 100%;
    font-weight: bolder;
    text-align: center;
}

header {
    top: 0;
    margin-top: 0;
    max-width: inherit;
}

footer {
    bottom: 0;
    max-width: inherit;
    text-align: center;
    color: cyan;
    font-weight: bold;
    margin-bottom: 0;
}

hr {
    margin: 10px;
    height: 2px;
    background-color: yellow;
    border: none;
}